<%= form_for(@estado) do |f| %>
  <% if @estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado.errors.count, "error") %> prohibited this estado from being saved:</h2>

      <ul>
      <% @estado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <%end %>
  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>