<h1>Listado de Estados</h1>
<%= link_to 'Nuevo Estado',new_estado_path %>
<table  border='1'>	
	<tr>
		<th>Id</th>
		<th>Descripcion</th>
		<th>acciones</th>
	</tr>
	<% @estados.each do |estado| %>
	<tr>
		<td><%= estado.id %></td>	
		<td><%= estado.descripcion%></td>
		<td>
			<%= link_to 'Editar',edit_estado_path(estado) %>||
		<%= link_to 'Eliminar', estado, method: :delete, data: { confirm: 'Are you sure?' } %>
		</td>	
	</tr>
	<% end %>