<p><%= notice %></p>
<h1>Estado</h1>
<table  border='1'>	
	<tr>
		<th>Id</th>
		<th>Descripcion</th>
		<th>acciones</th>
	</tr>
	<tr>
		<td><%= @estado.id %></td>	
		<td><%= @estado.descripcion%></td>
		<td>
			<%= link_to 'Editar',edit_estado_path(@estado) %>||
		<%= link_to 'Eliminar', @estado, method: :delete, data: { confirm: 'Are you sure?' } %>
		</td>	
	</tr>
</table>